<div class="container">
	<form>
		<div class="p-grid">
			<div class="p-col-12">
				<h1>Nova Pessoa</h1>
			</div>

			<div class="p-col-12 ui-fluid">
				<label>Nome</label>
				<input pInputText type="text">
			</div>

			<div class="p-col-12 p-md-9 ui-fluid">
				<label>Logradouro</label>
				<p-calendar dateFormat="dd/mm/yy"></p-calendar>
			</div>

			<div class="p-col-12 p-md-3 ui-fluid">
				<label>Número</label>
				<input pInputText type="text">
			</div>

			<div class="p-col-12 p-md-4 ui-fluid">
				<label>Complemento</label>
				<input pInputText type="text">
			</div>

			<div class="p-col-12 p-md-4 ui-fluid">
				<label>Bairro</label>
				<input pInputText type="text">
			</div>

			<div class="p-col-12 p-md-4 ui-fluid">
				<label>CEP</label>
				<input pInputText type="text">
				<p-inputMask mask="99.999-999"></p-inputMask>
			</div>

			<div class="p-col-12 p-md-6 ui-fluid">
				<label>Cidade</label>
				<input pInputText type="text">
			</div>

			<div class="p-col-12 p-md-6 ui-fluid">
				<label>Estado</label>
				<input pInputText type="text">
			</div>

			<div class="p-col-12">
				<button pButton type="submit" label="Salvar"></button>
				<button pButton type="button" label="Novo" class="ui-button-info"></button>
				<a href="javascript:;">Voltar para a Pesquisa</a>
			</div>
		</div>
	</form>
</div>
