<div class="container">

	<div *ngIf="usuarioForm.invalid && usuarioForm.dirty" class="alert alert-danger">
		Preencha todos os dados corretamente
	</div>
    <form autocomplete="off" #usuarioForm="ngForm" (ngSubmit)="salvar(usuarioForm)">
        <div class="form-group">
            <label>Nome</label>
			<input type="text" class="form-control" name="primeiroNome" [(ngModel)]="cliente.nome" required minlength="10" #nome="ngModel" [class.is-invalid]="nome.invalid && nome.touched">

			<!-- Touched: {{ nome.touched }}<br>
			Pristine: {{ nome.pristine }}<br>
			Dirty: {{ nome.dirty }}<br> -->

			<div *ngIf="nome.hasError('required') && nome.touched" class="invalid-feedback">Informe um Nome</div>
			<div *ngIf="nome.hasError('minlength') && nome.touched" class="invalid-feedback">O Nome deve ser Completo</div>
        </div>

        <div class="form-group">
            <label>E-mail</label>
			<input type="text" class="form-control" name="emailAddress" [(ngModel)]="cliente.email" email #email="ngModel" [class.is-invalid]="email.invalid && email.touched">

			<div *ngIf="email.invalid && email.touched" class="invalid-feedback">Informe um Email válido</div>
        </div>

        <div class="form-group">
            <label>Profissão</label>
            <select class="form-control" name="profissao" [(ngModel)]="cliente.profissao" required #profissao="ngModel" [class.is-invalid]="profissao.invalid && profissao.touched">
                <option value="">Selecione</option>
                <option *ngFor="let profissao of profissoes" [value]="profissao">{{ profissao }}</option>
			</select>
			<div *ngIf="profissao.invalid && profissao.touched" class="invalid-feedback">Informe uma Profissão</div>
        </div>

		<button type="submit" class="btn btn-primary"
			[disabled]="!usuarioForm.valid">Salvar</button>
    </form>

</div>
